<div>
  <strong>First name:</strong>
  <%= @user.first_name %>
</div

<div>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</div>
<div>
  <strong>Gender:</strong>
  <%= @user.gender %>
</div>
<div>
  <strong>Email:</strong>
  <%= @user.email %>
</div>
