<% @user = User.find(params[:id]) %>
<h1>Hello <%=@user.first_name %></h1>
<%= image_tag @user.avatar.url, :class => "avatar_img" %>
<%= render partial: "/users/show_user" %>
<% if current_user.id.to_s == params[:id] %>
  <%= link_to "Edit Profile", edit_user_path %>
<% end %>
