<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Congratilations! You have receivied a new booking from <%=@customer.first_name %></h1>
    <p>
      Check out the details of the reservation here: <%="/listings/#{@url}/reservations" %>
    </p>
  </body>
</html>
