<h1>Hello CloneBnB </h1>
<%= link_to "Create Listing", controller: 'listings', action: 'new' %> <br></br>
<%= paginate @listing %><br></br>
<% @listing.each do |property| %>
  <a href="listings/<%= property.id%>"> <%= property.title%> </a><br></br>
<% end %>
